custom/zsh

vim/backups
vim/view
*un~
vim/.netrwhist
vim/tmp
vim/spell
vim/after/.vimrc.after
vim/.plugs.local
vim/.plugs.local.bak
vim/plugged
vim/autoload
vim/sessions

vimperator/info

.netrwhist
bin/subl
tags
target/*
