priority 1

snippet ref "Typescript declaration reference"
/// <reference path='${1:value_name}' />
endsnippet

snippet cl "Typescript declaration reference"
console.log('${1:something}');
endsnippet
